/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, p, form, input, textarea, button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #00aaf4; /* Example blue background for visibility */
    color: #ffffff;
    padding: 20px 30px;
    display: flex;
    align-items: center; /* Aligns items vertically centered */
    justify-content: space-between; /* Distributes space between and around content items */
}

header img {
    height: 70px; /* Logo height as requested */
    margin-right: 40px; /* Adds some space between the logo and the title */
}

header h1 {
    flex-grow: 1; /* Allows the title to take up any extra space */
    margin: 10px; /* Removes default margin */
    padding: 10px;
    font-size: 24px;
}

nav ul {
    list-style-type: none; /* Removes bullet points from the list */
    padding: 0;
    margin: 0;
    display: flex; /* Makes the list horizontal */
}

nav ul li {
    margin-left: 10px; /* Adds spacing between navigation links */
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: lightgrey; /* Changes color on hover for better interaction feedback */
}


/* Footer styles */
footer {
    text-align: center;
    padding: 15px 0;
    background-color: #333;
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Form styling */
form {
    background-color: lightgrey;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 500px; /* Max width for better control on larger screens */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

input[type="text"], input[type="password"], select, textarea {
    width: 100%;
    padding: 12px; /* Slightly larger padding for better readability */
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
    border-color: #0077f4; /* Highlight focus with theme color */
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Table styling for clarity and readability */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    text-align: left;
    padding: 10px;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
